<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <button (click)="logout()" mat-menu-item>Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
